@use "@styles/variables";

.cards {
  padding: 70px 0px;

  &__row {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  &__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }

  &__image {
    max-width: 500px;
    object-fit: cover;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 50%;
  }

  &__title {
    color: black;
    font-size: 48px;
    text-align: center;
  }

  &__description {
    font-size: 26px;
    max-width: 300px;
    text-align: center;

    & span {
      color: variables.$secondary-color;
    }
  }

  &__link {
    border: 1px solid black;
    padding: 10px;
    position: relative;
    transition: all 0.2s ease;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 34px;
      z-index: -1;
      background: variables.$secondary-color;
      transition: all 0.5s ease;
    }

    &:hover {
    }

    &:hover:before {
      width: 100%;
    }
  }
}

.loading{
  text-align: center;
  font-size: 64px;
}

.error{
  text-align: center;
  color: red;
  font-size: 64px;
}
