@use "@styles/variables";

.header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  padding: "10px";
  transition: "transform 0.3s ease";
  background-color: variables.$primary-color;
  &__title {
    font-weight: 500;
    font-style: normal;
    font-size: 64px;
    color: variables.$secondary-color;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0px;
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  &__link {
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    color: variables.$secondary-color;
    font-size: 32px;
  }
}
